ul{
    list-style-type:none;
    border:1px solid grey;
    background-color: honeydew;
}

li{
    float:left;
}
li a{
    display:block;
    color:#666;
    padding:10px;
}

a{
    text-decoration: none;
    color :lightblue;
}